html, body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Metronic,"Myriad Pro",Myriad,Arial,sans-serif;
	font-weight: 400;
	color: #fff;
	text-shadow: 0 0 16px #009cff;
	text-shadow: 0 0 1rem #009cff;
}

#header {
	position:relative;
	height:60px;
	text-align:center;
	font-size:3em;
	
	background: #2d1066;
	background: -moz-linear-gradient(top,  #2d1066 0%, #601791 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d1066), color-stop(100%,#601791));
	background: -webkit-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -o-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -ms-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: linear-gradient(to bottom,  #2d1066 0%,#601791 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d1066', endColorstr='#601791',GradientType=0 );
}

#header li {
	display: inline;
	font-size:.5em;
	position:absolute;
	top:18px;
	right:18px;
}

#menu {
	text-align:center;
	height:10px;
	padding-bottom:10px;
	background-color:#382166;
	width:100%;
	overflow:hidden;
}

#options {
	cursor: hand;
}

#menu li {
	display: inline;
	font-size:1.5em;
	padding-left:20px;
	padding-right:20px;
}

#footer {
	position:fixed;
	bottom:0;
	left:0;
	height:60px;
	text-align:center;
	font-size:1.2em;
	padding-top:9px;
	padding-bottom:9px;
	
	background: #2d1066;
	background: -moz-linear-gradient(top,  #2d1066 0%, #601791 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d1066), color-stop(100%,#601791));
	background: -webkit-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -o-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -ms-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: linear-gradient(to bottom,  #2d1066 0%,#601791 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d1066', endColorstr='#601791',GradientType=0 );
}


#footerbutton li {
	display: inline;
}

.hero {
	position:relative;
	height:98%;
	min-height:98%;
	width:200px;
	margin:2.5px;
	background-color:#DCDCDC;
	float:left;
	overflow:auto;
	border:2px solid #000000;
}

.hero ul {
	list-style-position: inside;
	list-style-type:none;
	padding: 0;
	margin: 0;
}

.hero::-webkit-scrollbar {
	width:0 !important
}

#scrollcontainer {
	position:absolute;
	top:70px;
	bottom:0px;
	background-color:#8D54FF;
	overflow:auto;
	width:100%;
}

#horizontalscroll {
	width:2300px;
}

#warrior {
	background-color:#700000;
}

.heroname {
	width:200px;
	font-size:2em;
	text-align:center;
	
	background: #2d1066;
	background: -moz-linear-gradient(top,  #2d1066 0%, #601791 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d1066), color-stop(100%,#601791));
	background: -webkit-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -o-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -ms-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: linear-gradient(to bottom,  #2d1066 0%,#601791 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d1066', endColorstr='#601791',GradientType=0 );
}

.heroimage {
	width:200px;
	font-size:30px;
	text-align:center;
	background-color:#696969;
	z-index:10;	
}

.heroimage img{
	width:200px;
}

.skillsname {
	width:200px;
	text-align:center;
	cursor: hand;
	font-size:1.5em;
	
	background: #2d1066;
	background: -moz-linear-gradient(top,  #2d1066 0%, #601791 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d1066), color-stop(100%,#601791));
	background: -webkit-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -o-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -ms-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: linear-gradient(to bottom,  #2d1066 0%,#601791 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d1066', endColorstr='#601791',GradientType=0 );
}

.heroskills {
	width:196px;
	background-color:#382166;
	padding:2;
	text-shadow:0 0 0;
}

.talentsname {
	width:200px;
	text-align:center;
	cursor: hand;
	font-size:1.5em;
	
	background: #2d1066;
	background: -moz-linear-gradient(top,  #2d1066 0%, #601791 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d1066), color-stop(100%,#601791));
	background: -webkit-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -o-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: -ms-linear-gradient(top,  #2d1066 0%,#601791 100%);
	background: linear-gradient(to bottom,  #2d1066 0%,#601791 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d1066', endColorstr='#601791',GradientType=0 );
}

.herotalents{
	width:196px;
	background-color:#382166;
	padding:2;
	text-shadow:0 0 0;
}